// Custom CSS for the blog

details {
    background-color: #f8f9fa;         // fond gris très clair
    border: 1px solid #dee2e6;         // bord discret
    // display: block;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);  // ombre légère
    padding: 1em;
    margin: 1.5em 0;
    font-size: 0.9em;
    transition: all 0.3s ease;
  }
  
  details[open] {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);  // ombre plus marquée à l’ouverture
  }
  
  details summary {
    // font-weight: 600;
    // font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 0.5em;
    outline: none;
    user-select: none;
  }
  
  details summary:hover {
    color: #0d6efd;  // bleu discret à l’hover
  }

  .highlight {
    // background-color: #fef3d5;
    // background-color: #fef6df;
    background-color: #fff9ea;
    border: 1px solid #dee2e6;
    // display: block;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
    padding: 1em;
    margin: 1.5em 0;
  }

  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }